.Board {
  position: relative;
}

.Board__bg {
  transition: filter linear 200ms;
}

.Board__bg--fade {
  filter: saturate(0);
}

.Board__cursor {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
  display: none;
}

.Board__cursor--empty {
  border: 2px solid green;
}

.Board__cursor--remove {
  border: 2px solid red;
}

.Board__selection {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  outline: 4px solid green;
  pointer-events: none;
  display: none;
}

.Board__state {
  position: absolute;
  border-radius: 10px;
  background: rgb(34 34 34 / 80%);
  translate: -50% -100%;
  padding: 10px;
  color: white;
}
