.Board {
  position: relative;
}

.Board__cursor {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
  display: none;
}

.Board__cursor--empty {
  border: 2px solid green;
}

.Board__cursor--remove {
  border: 2px solid red;
}

.Board__selection {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  outline: 4px solid green;
  pointer-events: none;
  display: none;
}
