.CameraControls {
  position: absolute;
  inset: 0;
  --camera-controls-edge-size: 20px;
}

.CameraControls__scroll {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.CameraControls__area {
  position: absolute;
  padding: 100px 200px 150px;
  transform-origin: 0 0;
  min-width: 200vw;
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.CameraControls__top {
  position: absolute;
  top: 0;
  left: var(--camera-controls-edge-size);
  right: var(--camera-controls-edge-size);
  height: var(--camera-controls-edge-size);
}

.CameraControls__bottom {
  position: absolute;
  bottom: 0;
  left: var(--camera-controls-edge-size);
  right: var(--camera-controls-edge-size);
  height: var(--camera-controls-edge-size);
}

.CameraControls__left {
  position: absolute;
  top: var(--camera-controls-edge-size);
  bottom: var(--camera-controls-edge-size);
  left: 0;
  width: var(--camera-controls-edge-size);
}

.CameraControls__right {
  position: absolute;
  top: var(--camera-controls-edge-size);
  bottom: var(--camera-controls-edge-size);
  right: 0;
  width: var(--camera-controls-edge-size);
}

.CameraControls__topLeft {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--camera-controls-edge-size);
  width: var(--camera-controls-edge-size);
}

.CameraControls__topRight {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--camera-controls-edge-size);
  width: var(--camera-controls-edge-size);
}

.CameraControls__bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--camera-controls-edge-size);
  width: var(--camera-controls-edge-size);
}

.CameraControls__bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  height: var(--camera-controls-edge-size);
  width: var(--camera-controls-edge-size);
}